<div id="game">

  <%if @winner %>
    <div class="alert alert-error"><%=@winner%></div>
  <% end %>
  <%if @loser %>
    <div class="alert alert-error"><%=@loser%></div>
  <% end %>

  <h1>Blackjack</h1>
  <h2>Welcome <%= session[:player_name]%>!!</h2>

  <% if @play_again %>
    <p>
      <strong>Play again?</strong>
      <a href="/player_bet" class="btn btn-primary">Yes</a>
      <a href="/game_over" class="btn btn-primary">No</a>
    </p>
  <% end %>

  <div class = 'well'>
    <h4>Dealer's cards</h4>
      <% session[:dealer_cards].each_with_index do |card, i| %>
        <% if session[:turn] != 'dealer' && i == 0 %>
            <img src="/images/cards/cover.jpg">
        <%else%>
            <%=card_image(card)%>
          <%end
         end %>

      <% if @dealer_turn %>
        <h4>Dealer total is <%= hand_sum(session[:dealer_cards]).to_i%>. Push to see dealer's next card.</h4>

        <form  id="dealer_hit" action="/game/player/dealer_turn/hit" method="post">
          <input type="submit" class="btn btn-primary" value="Show card">
        </form>
      <% end %>
  </div>

  <div class = 'well'>
    <h4><%= session[:player_name]%>'s cards</h4>
      <% session[:player_cards].each do |card| %>
        <%=card_image(card)%>
      <% end %>
  </div>

  <ul>

  </ul>

  <% if @show_buttons %>
    <h4>What would <%= session[:player_name] %> likes to do? <%= session[:player_name] %>'s total is <%= hand_sum(session[:player_cards]).to_i%></h4>

    <form id = "hit_form" action="/game/player/hit" method="post">
      <input type="submit" class="btn btn-success" value="Hit">
    </form>

    <form id = "stay_form" action="/game/player/stay" method="post">
      <input type="submit" class="btn btn-warning" value="Stay">
    </form>
  <% end %>
</div>